<% include ../layouts/layout %>

<!-- Register -->
<div class="intro">
        <div class="intro-body">
            <div class = "container">
                <div class="wrapper">
                    <form action="/register_business" method="post" name="Register_Business" class="form-signin">       
                        <h3 class="form-signin-heading">Register</h3>
                        <hr class="colorgraph">
                        <!--Account Info-->
                        <h4 class="form-signin-heading">Account Information</h4>
                        <% if(error){ %>
                            <span class="label label-danger"><%= message %></span>
                        <% } %>
                        <div class="form-group">
                            <input type="text" class="form-control" name="firstName" placeholder="First Name*" required="" autofocus="" />
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name*" required="" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email*" required=""/>
                            <input type="password" class="form-control" name="password" placeholder="Password*" required=""/>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Birth Date</span>
                                <input type="date" class="form-control" name="dob" placeholder="Date of Birth*" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="phone" class="form-control" name="phone" placeholder="Phone*" required/>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="sel1" name="gender">
                                <option value="" disabled selected>Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <!--Business Info-->
                        <h4 class="form-signin-heading">Restaurant Information</h4>
                        <input type="text" class="form-control" name="displayName" placeholder="Restaurant Name*" required />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">www.weat.com/</span>
                                <input type="text" class="form-control" name="name" placeholder="Restaurant URL*" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option disabled selected>Resaurant Category</option>
                                <option>American</option>
                                <option>Asian</option>
                                <option>Chinese</option>
                                <option>French</option>
                                <option>Greek</option>
                                <option>Japanese</option>
                                <option>Mexican</option>
                                <option>Italian</option>
                                <option>Sushi</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status" class="black_text">Do you want your site to be public?</label>
                            <select class="form-control" id="status">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" name="location" placeholder="Restaurant Address*" required="" autofocus="" />
                        <input type="phone" class="form-control" name="workPhone" placeholder="Restaurant Phone*" required autofocus="" />
                    <!--
                        <input type="text" class="form-control" name="imgPath" placeholder="Logo Image Path" required="" autofocus="" />
                    -->
                        <br>
                        <label class="black_text">Description</label>
                        <textarea class="form-control" rows="3" name="longDescription" autofocus=""></textarea>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Register</button>
                        <br>
                    </form>     
                </div>
            </div>
        </div>
</div>
