<% include layouts/layout %>

<!-- Restaurants -->
<!-- Page Content -->
<div class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                
                <!-- Menu Manager -->
                <div class="col-md-4 portfolio-item">
                    <a href="/menu_manager">
                        <img class="img-responsive" src="/images/menu_manger.jpg" alt="">
                    </a>
                    <br>
                    <p>Add and customize Menus</p>
                </div>
            
                <!-- Marketing and Analytics -->
                <div class="col-md-4 portfolio-item">
                    <a href="/Marketing_analytics">
                        <img class="img-responsive" src="/images/marketing.jpg" alt="">
                    </a>
                    <br>
                    <p>View customer and order data</p>
                </div>
            
                <!-- Live Feed -->
                <div class="col-md-4 portfolio-item">
                    <a href="/Live_feed">
                        <img class="img-responsive" src="/images/live_feed.jpg" alt="">
                    </a>
                    <br>

                    <p>View a live feed of incoming orders</p>
                </div>
            </div>
        </div>
    </div>
</div>