<!--  include layouts/header -->
</br>
</br>
</br>
</br>
</br>
</br>
<div class="container">
    <div class="row">
        <!-- Trying to use Knockout 
        <div> 
            <p>View Your Menus</p>
            <div data-bind="foreach: menu">
                <p data-bind="text: name"></p>
            </div>


        </div>-->

        <!-- Not trying to use knockout -->
        <div id="menu">
            <h2> Menus: </h2>
            <div id="menu-replace"></div>
        </div>

    </br></br></br>
        <div> Create a menu: 
            <p>
                <button id="create-menu" class="btn btn-success">Create Menu</button>
            </p>
        </div>

        <div id="create-menu-section" class="hidden">
            <div class="form-group">
                <label for="menu-name"> Menu Name: </label> 
                <input type="text" id="menu-name" name="menu-name">
            </br>
                <label for="menu-active"> Menu Active: </label> 
                <input type="checkbox" id="menu-active"/>
            </div>
        </div>

    </div>
</div>


<script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/knockout/dist/knockout.js"></script>
<script src="/scripts/admin.js"></script>
 <!-- Bootstrap Core CSS -->
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

