<% include layouts/layout %>

<!-- Intro Header -->
    <div class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-4">
                    </div>
                    <form method="get" action="/restaurants">
                    <div class="col-md-4 input-group input-group-lg">
                        <h1 class="brand-heading">WEAT</h1>
                        <p class="intro-text">A Fresh New Way to Order</p>
                        <input type="text" class="form-control" name="q" placeholder="Search for your Favorite Food or Restaurant!" aria-describedby="sizing-addon1" required>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                    </form>
                    
                    <div class="col-md-4">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>