<% include layouts/header %>

<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-4">
                    </div>
                    
                    <div class="col-md-4 input-group input-group-lg">
                        <h1 class="brand-heading">WEAT</h1>
                        <p class="intro-text">A Fresh New Way to Order</p>
                        <input type="text" class="form-control" placeholder="        Search for a Restaurant or Cuisine" aria-describedby="sizing-addon1">
                        <button type="button" class="btn btn-primary">Search</button>
                    </div>
                    
                    <div class="col-md-4">
                    
                    </div>
                </div>
            </div>
        </div>
    </header>

<script src="/scripts/main.js"></script>