<% include layouts/main %>

<div id="test">
    <label>Type Anything</label>
	<input type="text" data-bind="textInput: firstName" />
	<br />

	<span type="text" data-bind="text: firstName"></span>
</div>

<script src="/scripts/main.js"></script>