<% include layouts/layout %>

<!-- Restaurants -->
<!-- Page Content -->
<div class="intro">
    <div class="intro-body">
        <div class="container">

        	<h1 class="page-header">Live Order Feed</h1>

        	<table class="table" style="background-color:white;">
    			<thead style="color:black;">
      				<tr>
        				<th>Order Time</th>
        				<th>Name</th>
        				<th>Phone</th>
        				<th>Order</th>
      				</tr>
    			</thead>
    
    			<tbody style="color:black;">
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
      				
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
      				<tr>
        				<td>9:53 am</td>
        				<td>John Doe</td>
        				<td>609-398-4959</td>
        				<td>1 Burger with Fries</td>
      				</tr>
    			</tbody>
  			</table>
		</div>
            
                



                </div>
            </div>
        </div>
    
