<% include layouts/layout %>

<!-- Restaurants -->
<!-- Page Content -->
<div class="intro">
    <div class="intro-body">
        <div class="container">
            
                
                
                </div>
            </div>
        </div>
    
</div>