<% include layouts/layout %>


<div class="intro">
    
        <div class="container">
        	
        	<div class="row">
       		
                    <h1 class="page-header">Marketing and Analytics</h1>
                <div class="col-md-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" style="font-size:20px;">12</div>
                                    <div style="font-size:30px;">Orders Today</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                

                <div class="col-md-4">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-usd fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" style="font-size:20px;">$223.30</div>
                                    <div style="font-size:30px;">In Sales</div>
                                </div>
                            </div>
                        </div>
                        
                        </a>
                    </div>
                </div>
                

                <div class="col-md-4">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-heart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" style="font-size:20px;">Tacos</div>
                                    <div style="font-size:30px;">Top Seller</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <h2>Daily Orders</h2>


                <canvas id="clients" width="800" height="250" style="background-color:white;"></canvas>


                
  

<script src="./bower_components/Chart.js/Chart.js"></script>
<script src="/scripts/jsc.js"></script>


                
                

                    




                
                
                
           

