<% include layouts/layout %>

<div class="weat-content" style="display:list-item;">
    <div class="container" id="menu-manager" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-heading menu-manager-panel-header">
                <h1>
                    <a href="" data-bind="click: showAllMenus">  All Menus </a>
                    <a href="" data-bind="click: showCurrentMenu, if: currentMenuName">
                        <i class="fa fa-angle-right"></i>
                        <span data-bind="text: currentMenuName"></span>
                    </a>
                    <a href="#" data-bind="if: currentCategoryName">
                        <i class="fa fa-angle-right"></i>
                        <span data-bind="text: currentCategoryName"></span>
                    </a>
                </h1>
            </div>
            <div class="panel-body menu-manager-panel-body">
                <div id="all-menus">
                    <div class="row">
                        <div data-bind="foreach: menus" >
                            <a href="#" data-bind="click: $root.showMenuView">
                                <div class="menu-manager-item col-lg-4">
                                    <h4 data-bind="text: name"></h4>
                                </div>
                            </a>
                        </div>
                        <a href="" data-toggle="modal" data-target="#create-menu-window">
                            <div class="menu-manger-new-item col-lg-4">
                                <h4>Add New Menu <i class="fa fa-plus-square"></i></h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="all-categories" data-bind="with: currentMenu">
                    <h2 >
                        <span data-bind="text: name"></span>
                        <span data-bind="if: !isPublic()" class="text-danger">(DRAFT)</span>
                        <span data-bind="if: isPublic()" class="text-success">(LIVE)</span>
                        <a href="#"><i class="fa fa-cog" data-toggle="modal" data-target="#edit-menu-window"></i></a>
                    </h2>
                    <div class="row">
                        <div data-bind="foreach: categories" >
                            <a href="#" data-bind="click: $root.showCategoryView">
                                <div class="menu-manager-item col-lg-4">
                                    <h4 data-bind="text: name"></h4>
                                    <small data-bind="text: description"></small>
                                </div>
                            </a>
                        </div>
                        <a href="" data-toggle="modal" data-target="#create-category-window">
                            <div class="menu-manger-new-item col-lg-4">
                                <h4>Add New Category <i class="fa fa-plus-square"></i></h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="food-item-manager" data-bind="with: currentCategory">
                    <h2><span data-bind="text: name"></span> <a href="#"><i class="fa fa-cog" data-toggle="modal" data-target="#edit-category-window"></i></a></h2>
                    <h3>Individual Items</h3>
                    <div class="row">
                        <div data-bind="foreach: foodItems" >
                            <a href="#" class="black_text" data-bind="click: $root.showFoodItemEditor">
                                <div class="menu-manager-item col-lg-4">
                                    <h4>
                                        <span data-bind="text: name"></span>
                                        <i class="fa fa-cog" ></i>
                                    </h4>
                                </div>
                            </a>
                        </div>
                        <a href="" data-toggle="modal" data-target="#create-food-item-window">
                            <div class="menu-manger-new-item col-lg-4">
                                <h4>Add New Item <i class="fa fa-plus-square"></i></h4>
                            </div>
                        </a>
                    </div>
                    <br>
                    <h3>Meals</h3>
                    <div class="row">
                        <div data-bind="foreach: meals" >
                            <a href="#" class="black_text" data-bind="click: $root.showMealsEditor">
                                <div class="menu-manager-item col-lg-4">
                                    <h4>
                                        <span data-bind="text: name"></span>
                                        <i class="fa fa-cog" ></i>
                                    </h4>
                                </div>
                            </a>
                        </div>
                        <a href="" data-toggle="modal" data-target="#create-meal-window">
                            <div class="menu-manger-new-item col-lg-4" style="background-color: #a6e1ec">
                                <h4>Add New Meal <i class="fa fa-plus-square"></i></h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->
        <div id="create-menu-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" data-bind="with: newMenu">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create a menu</h4>
                    </div>
                    <div class="modal-body">
                        <form id="menuForm" data-bind="submit: $root.createMenu">
                            <fieldset class="form-group">
                                <label for="menu-name">Menu Name</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Menu Name" data-bind="value: name" autofocus>
                            </fieldset>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="checked: isPublic, value: isPublic"> Public
                                    <small class="text-muted">All customers can see the menu on your site. You can set this later too.</small>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" form="menuForm" class="btn btn-success">Create Menu</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="create-category-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" data-bind="with: newCategory">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add a category</h4>
                    </div>
                    <div class="modal-body">
                        <form id="categoryForm" data-bind="submit: $root.createCategory">
                            <fieldset class="form-group">
                                <label for="category-name">Category Name</label>
                                <input type="text" class="form-control" id="category-name" placeholder="Category Name" data-bind="value: name" autofocus required>
                                <label for="category-desc">Description</label>
                                <input type="text" class="form-control" id="category-desc" placeholder="Description" data-bind="value: description">
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" form="categoryForm" class="btn btn-success">Add Category</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="create-food-item-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" data-bind="with: newFoodItem">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create an item</h4>
                    </div>
                    <div class="modal-body">
                        <form id="foodItemForm" data-bind="submit: $root.createFoodItem">
                            <fieldset class="form-group">
                                <label for="menu-name">Item Name</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Item Name" data-bind="value: name" required autofocus>
                                <label for="menu-name">Description</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Description" data-bind="value: description">
                                <label for="menu-name">Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" step="any" class="form-control" id="menu-name" placeholder="Price" data-bind="value: price" required>
                                </div>
                            </fieldset>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="value: available"> Available
                                    <small class="text-muted">All customers can see the item on your site. You can set this later too.</small>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" form="foodItemForm" class="btn btn-success">Add Item</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="create-meal-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" data-bind="with: newMeal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create a meal</h4>
                    </div>
                    <div class="modal-body">
                        <form id="mealCreateForm" data-bind="submit: $root.createMeal">
                            <fieldset class="form-group">
                                <label for="menu-name">Meal Name</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Item Name" data-bind="value: name" required autofocus>
                                <label for="menu-name">Description</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Description" data-bind="value: description">
                                <label for="menu-name">Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" step="any" class="form-control" id="menu-name" placeholder="Price" data-bind="value: price" required>
                                </div>
                                <label for="menu-name">Add Items</label>
                                <!-- ko if: $root.currentCategory -->
                                <select name="food-items" multiple="" class="form-control ui fluid multiple search normal selection dropdown" data-bind="foreach: $root.currentCategory().foodItems, selectedOptions: foodItems">
                                    <option data-bind="value: id, text: name"></option>
                                </select>
                                <!-- /ko -->
                            </fieldset>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="value: available"> Available
                                    <small class="text-muted">All customers can see this meal on your site. You can set this later too.</small>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" form="mealCreateForm" class="btn btn-success">Add Meal</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-menu-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" data-bind="with: currentMenu">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit <span data-bind="text: name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <form data-bind="submit: $root.editMenu">
                            <fieldset class="form-group">
                                <label for="menu-name">Menu Name</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Menu Name" data-bind="value: name" required autofocus>
                            </fieldset>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="checked: isPublic"> Public
                                    <small class="text-muted">All customers can see the item on your site.</small>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bind="click: $root.deleteMenu">Delete</button>
                        <button type="button" class="btn btn-info" data-bind="click: $root.editMenu">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-category-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" data-bind="with: currentCategory">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit <span data-bind="text: name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <fieldset class="form-group">
                                <label for="menu-name">Category Name</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Category Name" data-bind="value: name" required autofocus>
                                <label for="menu-name">Description</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Description" data-bind="value: description">
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bind="click: $root.deleteCategory">Delete</button>
                        <button type="button" class="btn btn-info" data-bind="click: $root.editCategory">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-food-item-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" data-bind="with: currentFoodItem">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit <span data-bind="text: name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <fieldset class="form-group">
                                <label for="menu-name">Item Name</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Item Name" data-bind="value: name" required autofocus>
                                <label for="menu-name">Description</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Description" data-bind="value: description">
                                <label for="menu-name">Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" step="any" class="form-control" id="menu-name" placeholder="Price" data-bind="value: price" required>
                                </div>
                            </fieldset>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="checked: available"> Available
                                    <small class="text-muted">All customers can see the item on your site. You can set this later too.</small>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bind="click: $root.deleteFoodItem">Delete</button>
                        <button type="button" class="btn btn-info" data-bind="click: $root.editFoodItem">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-meal-window" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" data-bind="with: currentMeal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit a meal</h4>
                    </div>
                    <div class="modal-body">
                        <form id="mealEditForm" data-bind="submit: $root.editMeal">
                            <fieldset class="form-group">
                                <label for="menu-name">Meal Name</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Item Name" data-bind="value: name" required autofocus>
                                <label for="menu-name">Description</label>
                                <input type="text" class="form-control" id="menu-name" placeholder="Description" data-bind="value: description">
                                <label for="menu-name">Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" step="any" class="form-control" id="menu-name" placeholder="Price" data-bind="value: price" required>
                                </div>
                                <label for="menu-name">Items</label>
                                <!-- ko if: $root.currentCategory -->
                                <select name="food-items" multiple="" class="form-control ui fluid multiple search normal selection dropdown" data-bind="foreach: $root.currentCategory().foodItems, selectedOptions: foodItems">
                                    <option data-bind="value: id, text: name"></option>
                                </select>
                                <!-- /ko -->
                            </fieldset>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="value: available"> Available
                                    <small class="text-muted">All customers can see this meal on your site.</small>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bind="click: $root.deleteMeal">Delete</button>
                        <button type="submit" form="mealEditForm" class="btn btn-success">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/scripts/admin-menu-manager.js"></script>