<% include layouts/layout %>

<!-- Restaurants -->
<!-- Page Content -->
<div class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="/images/menu_manger.jpg" alt="">
                    </a>
                    <p>Add and customize your menus</p>
                </div>

                <div class="col-md-4 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="/images/marketing.jpg" alt="">
                    </a>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>

                <div class="col-md-4 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="/images/live_feed.jpg" alt="">
                    </a>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/main.js"></script>