<% include ./layouts/layout %>

<!-- Order -->
<div class="weat-content">
    <div id="my-order" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>My Order</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th align="left" class="col-md-5">Item Name</th>
                                <th align="left" class="col-md-5">Special Instructions</th>
                                <th align="left" class="col-md-1">Price</th>
                                <th align="left" class="col-md-1"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: items">
                            <tr>
                                <td class="col-md-5" data-bind="text: name"></td>
                                <td class="col-md-5" data-bind="text: instructions"></td> 
                                <td class="col-md-1" data-bind="text: '$' + price"></td>
                                <td class="col-md-1" data-bind="click: $root.deleteItem"><i title="delete item" class="fa fa-minus-circle fa-2x edit-item text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ko if: items().length < 1 -->
                    <div class="col-lg-12">
                        <h4>No items</h4>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- ko if: !paymentInfo() && items().length > 1 -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <h3 class="panel-title">Please enter a payment method to continue:</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label class="col-sm-3 control-label">Name On Card</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Number</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" id="ccnum">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Expiration Date</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">CVV</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>           
                            <div class="row">
                                <label class="col-sm-3 control-label">Address</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">City</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">State</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Zip</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: paymentInfo() -->
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="col-md-3"> Payment Information: </td>
                                <td class="col-md-6"><input type="checkbox" name="useDefault" id='default-payment' checked/> use default payment method (card ending in <span data-bind="text: paymentInfo"></span>)?</td> 
                                <td class="col-md-3"><button id="new-card" class="btn btn-info" data-bind="click: showPaymentMethod">Use Different Card</button></td>
                            <tr>
                        </tbody>
                    </table>
                </div>
                <!-- /ko -->


                <div class="row" style="display:none;" id="payment-method">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <h3 class="panel-title">Please enter a payment method to continue:</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label class="col-sm-3 control-label">Name On Card</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Number</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" id="ccnum">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Expiration Date</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">CVV</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>           
                            <div class="row">
                                <label class="col-sm-3 control-label">Address</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">City</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">State</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Zip</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="alert alert-info">Order Total: $<span data-bind="text: orderTotal"></span></div>
                <button class="btn btn-info" data-bind="click: submitOrder, enable: items().length > 0 ">Submit Order</button>
            </div>
        </div>
    </div>
    <div id="thank-you" class="container" style="display: none;">
        <div class="alert alert-success" role="alert">
            <i class="fa fa-smile-o"></i>
            Thank you for your business! Delicious food is in your future.
        </div>
    </div>
</div>

<script src="/scripts/order.js"></script>
<style>
.edit-item{
    cursor:pointer;
}
</style>
