<% include layouts/header %>

<!-- Restaurants -->
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <!-- /.row -->

        <div>
            <% restaurants.forEach(function(restaurant) { %>
                <div><%= restaurant.name %></div>
            <% })%> 
        </div>

        <!-- Wahoos -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="images/wahoos_logo.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Wahoos</h3>
                <h4>Mexican</h4>
                <p>Three brothers took their love of surf and food to create a unique restaurant that serves up a fresh, light and tasty fusion of brazilian, asian and mexican fare.</p>
                <a class="btn btn-primary" href="/menu">View Menu</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Savas -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="images/savas_logo.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Savas</h3>
                <h4>Pizzeria</h4>
                <p>At Savas Brick Oven Pizza, we pride ourselves on offering a consistently exceptional product at a reasonable price. We hope to see you soon.</p>
                <a class="btn btn-primary" href="/menu">View Menu</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Shake Shack -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="images/shake_shack_logo.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Shake Shack</h3>
                <h4>American</h4>
                <p>Shake Shack is a modern day 'roadside' burger stand serving the most delicious burgers, fries, hot dogs, frozen custard, beer, wine and more!</p>
                <a class="btn btn-primary" href="/menu">View Menu</a>
            </div>
        </div>

<script src="/scripts/main.js"></script>